@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*----------------------------------Heading */

.logo {
    background-image: url("../images/logo_transparent-removebg-preview.png");
    height: 65px;
    width: 185px;
    display: block;
    background-size: 200px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 5px;
    z-index: 1500;
}

.container-fluid {
    z-index: 1000;
    padding: 10px;
}

.nav-bar {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    float: right;
    position: relative;
    bottom: 60px;
    margin-right: 20px;
    z-index: 1000;
}

.nav-bar li {
    display: inline-block;
    height: 30px;
    padding: 15px;
    list-style: none;
    margin-right: 40px;
}

.nav-bar a {
    color: #fff;
}

#hero-vid {
    width: 1263px;
    height: 1260px;
    position: relative;
    bottom: 330px;
    z-index: 500;
}
/*----------------------------------Colours */

.main-bg-color {
    background-color: #000;

}

/*----------------------------------Special paddings/margins/text */

.uppercase {
    text-transform: uppercase;
}
