@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*----------------------------------------Colours*/

.color-white {
    color: #fff;
}

.bg-grey-color {
    background-color: #1f1f1f;
}
/*----------------------------------------Text*/

.uppercase {
    text-transform: uppercase;
}

.text-weight {
    font-weight: bold;
}

.text-fam {
    font-family: "Exo",sans-serif;
}
/*----------------------------------------Heading*/

body {
    overflow-x: hidden;
}

.logo {
    width: 220px;
    position: relative;
    z-index: 30;
    left: 15px;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-right: 25px;
    margin-top: 6px;
}

.user-input {
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 5px;
    padding-right: 13px;
    font-size: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.column {
    flex: 25%;
    max-width: 25%;
  }

.column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
    height: 25%;
  }

.column .larger-image {
    height: 50%;
}

#hero-vid {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 110px;
}

.navbar {
    padding: 0px;
    background-color: rgba( 0, 0, 0, 0.6);
    height: 75px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sticky-top {
    padding: 0px !important;
}

.slogan {
    position: relative;
    bottom: 500px;
    left: 90px;
}

.sign-up-button {
    position: relative;
    left: 150px;
}
/*----------------------------------------Main*/
main {
    min-height: 100vh;
}
.fa-map-marker-alt {
    font-size: 25px;
}

.age-position {
    position: relative;
    top: 145px;
}

iframe {
    transform: translateY(10px);
}

.classes-table {
    border-style: solid;
    position: relative;
    bottom: 100px;
}

.erick-img {
    width: 30%;
    height: 30%;
}

.sophie-img {
    width: 30%;
    height: 30%;
}
/*----------------------------------------Footer*/

.email-info h5 {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin: 0px;
    display: inline-block;
    padding-left: 35px;
    font-size: 20px;
    position: relative;
}

.email-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 18px;
}

.fa-envelope {
    position: inherit;
    left: 20px;
    font-size: 30px;
}
.phone-info h5  {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin: 0px;
    display: inline-block;
    padding-left: 35px;
    font-size: 20px;
    position: relative;
}

.phone-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 20px;
}

.fa-phone-alt {
    position: inherit;
    left: 20px;
    font-size: 30px;
}

.social-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.social-items {
    float: left;
}

.social-items a {
    padding: 2px;
    font-size: 35px;
    margin: 10px;
    position: relative;
    left: 50px;
}

footer {
    min-height: 65px;
}
/*----------------------------------------Hover.css*/

.nav-link:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: ease-in;
}

.social-items a:hover {
    color: #fff;
}

.social-items i:hover {
    color: #0c9600;
}

/*----------------------------------------Media queries*/

@media only screen and (max-width: 576px) {

/*----------------------Header queries*/
.logo {
    width: 166px;
    position: relative;
    z-index: 30;
    bottom: 9px;
    left: 0px;
}

.navbar-toggler {
    margin-right: 15px;
    font-size: 12px;
    position: relative;
    bottom: 7px;
}

.navbar {
    height: 53px;
}

.navbar-nav-scroll {
    max-height: 75vh;
    overflow-y: auto;
    background-color: rgba( 0, 0, 0, 0.6);
    margin-top: -19px;
    overflow-x: hidden;
    height: 230px;
}

.nav-link {
    text-align: center;
    background-color: #1f1f1f;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 1px;
}

.user-input {
    position: relative;
    display: inline-block;
    top: 13px;
    left: 230px;
    padding-right: 13px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: -160px;
    margin-left: 3px;
}

.slogan {
    position: relative;
    bottom: 135px;
}

.slogan h3 {
    font-size: 12px;
    position: relative;
    right: 60px;
    top: 3px;
    width: max-content;
}

.sign-up-button {
    position: relative;
    bottom: 55px;
    font-size: 11px;
    margin-left: -135px;
}

.modal {
    padding-right: 17px;
    padding-left: 10px;
}

/*-----------------------Main queries*/

.reasons-why {
    position: relative;
    font-size: 12px;
    left: 25px;
    bottom: 150px;
}

.reasons-why h1 {
    font-size: 20px;
    width: 150%;
    position: relative;
    left: 10%;
    text-align: center;
}

.reasons-why p {
    font-size: 18px;
    position: relative;
    width: 175%;
    text-align: center;
}

.reasons-why h4 {
    width: 190%;
    font-size: 14px;
    padding-top: 12px;
    position: relative;
    right: 15px;
    font-weight: bold;
    text-align: center;
}

.reasons-why .icon-position {
    position: relative;
    left: 75%;
    font-size: 24px;
    padding: 15px 0px;
}

.login-main {
    position: relative;
    bottom: 130px;
    left: 40px;
    width: 75%;
    padding: 10px 35px;
}

.center-location {
    width: 100%;
    padding-top: 130px;
}

.row-cols-4 div {
    position: relative;
    left: 30%;
    margin-top: 2%;
}

.row-cols-4 h4{
    margin-bottom: 5%;
}

.box-position {
    position: relative;
    left: 5%;
}

.friday-position {
    position: relative;
    left: 9%;
}

.box-time {
    position: relative;
    left: 10%;
}

.kickboxing-position {
    position: relative;
    right: 3%;
}

.tuesday-position {
    position: relative;
    left: 6%;
}

.kickboxing-time {
    position: relative;
    left: 10%;
}

.mma-position {
    position: relative;
    left: 9%;
}

.monday-position {
    position: relative;
    left: 7%;
}

.mma-time {
    position: relative;
    left: 10%;
}

.yoga-position {
    position: relative;
    left: 6%;
}

.sunday-position {
    position: relative;
    left: 7%;
}

.yoga-time {
    position: relative;
    left: 10%;
}

.local-icon-home {
    position: relative;
    left: 14%;
}

.gym-location {
    position: relative;
    left: 5%;
}

.warrior-gym {
    position: relative;
    left: 3%;
}

/*-----------------------Footer queries*/

.email-info h5 {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin-top: 7px;
    display: inline-block;
    padding-left: 35px;
    font-size: 15px;
    position: relative;   
}

.email-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 16px;
}

.fa-envelope {
    position: inherit;
    left: 28px;
    font-size: 17px;
}

.phone-info h5  {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin: 0px;
    display: inline-block;
    padding-left: 35px;
    font-size: 15px;
    position: relative;
    right: 0px;
}

.phone-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 16px;
    right: 0px;
}

.fa-phone-alt {
    position: inherit;
    left: 30px;
    font-size: 17px;
}

.social-items a {
    padding: 2px;
    font-size: 23px;
    margin: 10px;
    position: relative;
    left: 50px;
}

}
@media only screen and (min-width: 576px) {
    
/*----------------------Header queries*/

.logo {
    width: 175px;
    position: relative;
    z-index: 30;
    bottom: 11px;
    left: 0px;
}

.navbar-toggler {
    margin-right: 15px;
    font-size: 13px;
    position: relative;
    bottom: 7px;
}

.navbar {
    height: 55px;
}

.navbar-nav-scroll {
    max-height: 75vh;
    overflow-y: auto;
    background-color: rgba( 0, 0, 0, 0.6);
    margin-top: -20.5px;
    overflow-x: hidden;
}

.nav-link {
    text-align: center;
    background-color: #1f1f1f;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 1px;
}

.user-input {
    position: relative;
    top: 10px;
    left: 350px;
}

.slogan {
    position: relative;
    bottom: 138px;
}

.slogan h3 {
    font-size: 14px;
    position: relative;
    left: 50px;
    bottom: 6px;
}

.sign-up-button {
    position: relative;
    bottom: 68px;
    font-size: 15px;
    margin-left: -20px;
}

.modal {
    padding-right: 17px;
    padding-left: 10px;
}


/*-----------------------Main queries*/

.reasons-why {
    position: relative;
    font-size: 12px;
    left: 25px;
    bottom: 150px;
}

.reasons-why h1 {
    font-size: 24px;
    width: 150%;
    position: relative;
    left: 10%;
    text-align: center;
}

.reasons-why p {
    font-size: 20px;
    position: relative;
    width: 175%;
    text-align: center;
}

.reasons-why h4 {
    width: 190%;
    font-size: 17px;
    padding-top: 12px;
    position: relative;
    right: 15px;
    font-weight: bold;
    text-align: center;
    left: -42px;
}

.reasons-why .icon-position {
    position: relative;
    left: 75%;
    font-size: 24px;
    padding: 15px 0px;
}

.login-main {
    position: relative;
    bottom: 130px;
    left: 70px;
    width: 75%;
    padding: 15px 35px;
}
  
.center-location {
    width: 100%;
    padding-top: 100px;
}

.row-cols-4 div {
    position: relative;
    left: 15%;
    margin-top: 2%;
}

.row-cols-4 h4{
    margin-bottom: 5%;
}

.box-position {
    position: relative;
    left: 5%;
}

.friday-position {
    position: relative;
    left: 9%;
}

.box-time {
    position: relative;
    left: 10%;
}

.kickboxing-position {
    position: relative;
    right: 3%;
}

.tuesday-position {
    position: relative;
    left: 6%;
}

.kickboxing-time {
    position: relative;
    left: 10%;
}

.mma-position {
    position: relative;
    left: 9%;
}

.monday-position {
    position: relative;
    left: 7%;
}

.mma-time {
    position: relative;
    left: 10%;
}

.yoga-position {
    position: relative;
    left: 6%;
}

.sunday-position {
    position: relative;
    left: 7%;
}

.yoga-time {
    position: relative;
    left: 10%;
}

.local-icon-home {
    position: relative;
    left: 14%;
}

.gym-location {
    position: relative;
    left: 5%;
}

.warrior-gym {
    position: relative;
    left: 3%;
}

/*-----------------------Footer queries*/

.email-info h5 {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin-top: 7px;
    display: inline-block;
    padding-left: 35px;
    font-size: 15px;
    position: relative;   
}

.email-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 14px;
    left: 0px;
    bottom: 0px;
}

.fa-envelope {
    position: inherit;
    left: 28px;
    font-size: 18px;
    margin-top: 10px;
}

.phone-info h5  {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin: 0px;
    display: inline-block;
    padding-left: 35px;
    font-size: 14px;
    position: relative;
    right: 245px;
}

.phone-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 14px;
    right: 245px;
    bottom: 0px;
}

.fa-phone-alt {
    position: inherit;
    left: -215px;
    font-size: 17px;
    margin-top: 45px;
}

.social-items {
    position: relative;
    margin-top: 5px;
}

.social-items a {
    padding: 2px;
    font-size: 24px;
    position: relative;
    left: -100px;
    z-index: 999;
}

}
@media screen and (max-width: 600px) { /*----------------------Gallery queries*/
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
@media only screen and (min-width: 768px) {

/*----------------------Header queries*/
.logo {
    width: 185px;
    position: relative;
    z-index: 30;
    bottom: 0px;
    left: 0px;
}

.navbar {
    height: 62px;
}

.nav-item {
    position: relative;
    top: 12px;
}

.navbar-nav-scroll {
    max-height: 75vh;
    overflow-y: auto;
    background: none;
    margin-top: -22px;
}

.nav-link {
    background: none;
    font-size: 19px;
    margin: 20px;
    position: relative;
    right: 40px;
}

.user-input {
    position: relative;
    left: -25px;
    font-size: 13px;
}

.slogan {
    position: relative;
    bottom: 165px;
}

.slogan h3 {
    font-size: 17px;
    position: relative;
    left: 45px;
}

.sign-up-button {
    position: relative;
    bottom: 80px;
    font-size: 19px;
    margin-left: -20px;
}

.modal {
    padding-right: 17px;
    padding-left: 10px;
}
/*-----------------------Main queries*/
.reasons-why {
    position: relative;
    font-size: 12px;
    left: 25px;
    bottom: 150px;
}

.reasons-why h1 {
    font-size: 27px;
    width: 150%;
    position: relative;
    left: 15%;
    text-align: center;
}

.reasons-why p {
    font-size: 23px;
    width: 150%;
    position: relative;
    left: 55px;
}

.reasons-why h4 {
    width: 190%;
    font-size: 20px;
    padding-top: 12px;
    position: relative;
    right: 15px;
    font-weight: bold;
    text-align: center;
    left: -10px;
}

.reasons-why .icon-position {
    position: relative;
    left: 85%;
    font-size: 24px;
    padding: 15px 0px;
}

.login-main {
    position: relative;
    bottom: 130px;
    left: 165px;
    width: 55%;
    padding: 15px 35px;
}

.row-cols-4 div {
    position: relative;
    left: 3%;
    font-size: 20px;
}

.row-cols-4 h4{
    margin-bottom: 11%;
}

.box-position {
    position: relative;
    left: 8%;
}

.friday-position {
    position: relative;
    left: 12%;
}

.box-time {
    position: relative;
    left: 16%;
}

.tuesday-position {
    position: relative;
    left: 9%;
}

.kickboxing-time {
    position: relative;
    left: 16%;
}

.mma-position {
    position: relative;
    left: 16%;
}

.monday-position {
    position: relative;
    left: 10%;
}

.mma-time {
    position: relative;
    left: 16%;
}

.yoga-position {
    position: relative;
    left: 14%;
}

.sunday-position {
    position: relative;
    left: 11%;
}

.yoga-time {
    position: relative;
    left: 16%;
}

.local-icon-home {
    position: relative;
    left: 25%;
}

/*-----------------------Footer queries*/

.email-info h5 {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin-top: 27px;
    display: inline-block;
    padding-left: 35px;
    font-size: 15px;
    position: relative;   
}

.email-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 15px;
    left: 0px;
    bottom: 0px;
}

.fa-envelope {
    position: inherit;
    left: 28px;
    font-size: 19px;
}

.phone-info {
    bottom: 15px;
    left: 20px;
}

.phone-info h5  {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline-block;
    padding-left: 35px;
    font-size: 15px;
    position: relative;
    right: 0px;
}

.phone-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 15px;
    right: 0px;
}

.fa-phone-alt {
    position: inherit;
    left: 30px;
    font-size: 17px;
}

.social-items {
    position: relative;
    margin-top: 17px;
    right: 12px;
}

.social-items a {
    padding: 2px;
    font-size: 27px;
    margin: 10px;
    position: relative;
    left: 50px;
}

}
@media only screen and (min-width: 992px) {

/*----------------------Header queries*/

.logo {
    width: 185px;
    position: relative;
    z-index: 30;
    bottom: 0px;
    left: 0px;
}

.navbar {
    height: 63px;
}

.nav-link {
    font-size: 23px;
    margin: 20px;
    position: relative;
    right: 200px;
}

.user-input {
    position: relative;
    left: -75px;
    font-size: 14px;   
}

.slogan {
    position: relative;
    bottom: 250px;
}

.slogan h3 {
    font-size: 17px;
    position: relative;
    left: 45px;
}

.sign-up-button {
    position: relative;
    bottom: 80px;
    font-size: 19px;
    margin-left: -20px;
}

.modal {
    padding-right: 17px;
    padding-left: 10px;
}
/*-----------------------Main queries*/
.reasons-why {
    position: relative;
    bottom: 150px;
    left: 45px;
    font-size: 16px;
}

.reasons-why h1 {
    margin-bottom: 5px;
    font-size: 30px;
    width: 150%;
    position: relative;
    right: 10%;
    text-align: center;
}

.reasons-why p {
    font-size: 23px;
    width: 100%;
    position: relative;
    left: -9px;
}

.reasons-why h4 {
    width: 130%;
    font-size: 23px;
    padding-top: 12px;
    position: relative;
    right: 15px;
    font-weight: bold;
    text-align: center;
    left: -53px;
}

.reasons-why .icon-position {
    position: relative;
    font-size: 24px;
    top: 16px;
    left: -23px;
}

.login-main {
    float: right;
    bottom: 504px;
    position: relative;
    right: 40px;
    width: 35%;
    padding: 25px 35px;
    left: -45px;
}

.login-main i {
    font-size: 25px;
}

.row-cols-4 div {
    position: relative;
    left: 3%;
    font-size: 20px;
    
}

/*-----------------------Footer queries*/

.email-info h5 {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    margin-top: 27px;
    display: inline-block;
    padding-left: 35px;
    font-size: 17px;
    position: relative;   
}

.email-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 17px;
    left: 0px;
    bottom: 0px;
}

.fa-envelope {
    position: inherit;
    left: 28px;
    font-size: 22px;
}

.phone-info {
    bottom: 15px;
    left: 15px;
}

.phone-info h5  {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline-block;
    padding-left: 35px;
    font-size: 17px;
    position: relative;
    right: 0px;
}

.phone-info p {
    font-family: "Exo",sans-serif;
    line-height: 28px;
    display: inline;
    text-align: justify;
    position: relative;
    font-size: 17px;
    right: 0px;
}

.fa-phone-alt {
    position: inherit;
    left: 30px;
    font-size: 19px;
}

.social-items {
    position: relative;
    margin-top: 11px;
    right: 12px;
}

.social-items a {
    padding: 2px;
    font-size: 34px;
    margin: 10px;
    position: relative;
    left: 50px;
}

}
@media only screen and (min-width: 1200px) {

/*----------------------Header queries*/
    .logo {
        width: 195px;
        position: relative;
        z-index: 30;
        bottom: 0px;
        left: 0px;
    }
    
    .navbar {
        height: 65px;
    }
    
    .nav-link {
        font-size: 23px;
        margin: 20px;
        position: relative;
        right: 365px;
    }

    .user-input {
        position: relative;
        left: -225px;
        top: 15px;
        font-size: 16px;   
    }
    
    .slogan {
        position: relative;
        bottom: 300px;
    }
    
    .slogan h3 {
        font-size: 19px;
        position: relative;
        left: 45px;
    }
    
    .sign-up-button {
        position: relative;
        bottom: 80px;
        font-size: 19px;
        margin-left: -20px;
    }
    
    .modal {
        padding-right: 17px;
        padding-left: 10px;
    }    

/*-----------------------Main queries*/

.reasons-why {
    position: relative;
    bottom: 150px;
    left: 45px;
    font-size: 16px;
}

.reasons-why h1 {
    margin-bottom: 5px;
    font-size: 30px;
    width: 150%;
    position: relative;
    right: 10%;
    text-align: center;
}

.reasons-why p {
    font-size: 23px;
    width: 100%;
}

.reasons-why h4 {
    width: 130%;
    font-size: 23px;
    padding-top: 12px;
    position: relative;
    right: 15px;
    font-weight: bold;
    text-align: center;
    left: -120px;
}

.reasons-why .icon-position {
    position: relative;
    font-size: 24px;
    top: 12px;
}

.login-main {
    float: right;
    bottom: 490px;
    position: relative;
    right: 40px;
    width: 40%;
    padding: 25px 35px;
}

.login-main i {
    font-size: 25px;
}

/*-----------------------Footer queries*/    
}
