@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*----------------------------------Colours */

.bg-color-main {
    background-color: #000 !important;
}

.color-text-white {
    color: #fff;
}
/*----------------------------------Heading */
.navbar {
    z-index: 3;
    height: 80px;
    position: absolute;
    width: 100%;
    top: 0px;
}

#logo-img {
    width: 200px;
    margin: 10px;
    padding-top: 3px;
}

.navbar-brand {
    position: relative;
    bottom: 2px;
}

.navbar-nav {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 20px;
    z-index: 10px;
    position: absolute;
    top: 15px;
}

.navbar-nav li {
    margin-right: 40px;
}

#hero-vid {
    width: 100%;
    height: auto;
    min-height: 805px;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 230px;
}

#bg-transparent-nav {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.btn-invisible {
    visibility: hidden;
}

.jumbotron {
    font-family: "Roboto",sans-serif;
    z-index: 1;
    position: absolute;
    left: 115px;
    top: 245px;
    background: none;
}

.lead {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: 70px;
}

#btn-invisible-join {
    position: absolute;
    left: 130px;
}

/*---------------------------------- Media queries*/

 @media only screen and (max-width: 576px) {
    .navbar,
    .navbar-brand,
    #logo-img { 
        height: 55px;
    }

    .navbar-nav {
        position: absolute;
        bottom: 975px;
        right: 0px;
        font-size: 15px;
    }

    #logo-img {
        position: relative;
        bottom: 22px;
        left: -20px;
    }

    #hero-vid {
        position: absolute;
        min-height: 50px;
        top: 0.1px;
    }

    .jumbotron {
        visibility: hidden;
    }

    #btn-invisible-join{
        visibility: hidden;
    }
    }

@media only screen and (min-width: 576px) {
    .navbar,
    .navbar-brand,
    #logo-img { 
        height: 65px;   
    }
    #logo-img {
        position: relative;
        bottom: 25px;
        right: 5px;
    }
        
    #hero-vid {
        position: relative;
        min-height: 1px;
        bottom: 100px;
    }

    .navbar-nav {
        position: absolute;
        bottom: 970px;
        right: 0px;
        font-size: 18px;
    }
    }

@media only screen and (min-width: 768px) {
    .navbar,
    .navbar-brand,
    #logo-img { 
        height: 70px;
        bottom: 3px;   
    }
        
    #logo-img {
        position: relative;
        bottom: 20px;
    }

    .navbar-nav {
        position: absolute;
        bottom: 965px;
        right: 0px;
        font-size: 20px;
    }
    }

    @media only screen and (min-width: 992px) {
        #logo-img {
            position: relative;
            bottom: 10px;
        }

        #hero-vid {
            position: relative;
            min-height: 1px;
            bottom: 100px;
        }
    } 